<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="com.appcelerator.titanium.mobile.ui.android.installer.launchConfigurationType">
<stringAttribute key="ATTR_LOG_LEVEL" value="Info"/>
<stringAttribute key="ATTR_PROJECT_NAME" value="mobile_app"/>
<stringAttribute key="abi" value="armeabi"/>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/mobile_app"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="4"/>
</listAttribute>
<booleanAttribute key="org.eclipse.debug.core.capture_output" value="true"/>
<stringAttribute key="sdk_version" value="Google APIs (Android 2.2)"/>
</launchConfiguration>
